/* add styles here */

pre {
  background:#eee;
}

body {
  font:1em Helvetica, sans-serif;
  padding:4px;
  background:url(../images/tile.png);
}

h1 {
  margin:0;
  padding:0;
}

ul {
  list-style-type: none;
  margin:0; padding:0;
}

#account {
  float:right;
}

#garden h4 {
  padding:0;
  margin:0;
}

#garden li.app {
  float:left;
  width:200px;
  height:200px;
  border:4px solid #55b;
  background:#eef;
  overflow:hidden;
  margin:8px;
  padding:8px;
  text-align:center;
}

#garden li.app h3 {
  padding:0;
  margin:0;
  font-size:1em;
}

#garden li.app h4 {
  font-size:0.8em;
  color:#555;
  text-align:left;
}

div.icon {
  margin-top:8px;
  max-height:150px;
  overflow:hidden;
}

.icon img {
  width:150px;
}

.info {
  float:right;
  font-size:0.75em;
}

/*.info {
  border:4px solid #55b;
  background:#eef;
  margin:8px;
  padding:8px;
}*/

div.screen {
  float:left;
  margin-right:8px;
}

.clear {
  clear:left;
}