/* add styles here */

body {
  font:1.6em Helvetica, sans-serif;
  padding:4px;
}

h1 {
  margin:0;
  padding:0;
}

ul {
  list-style-type: none;
  margin:0; padding:0;
}

#garden h4 {
  padding:0;
  margin:0;
}

#garden li.app {
  float:left;
  width:200px;
  height:200px;
  border:4px solid #55b;
  background:#eef;
  overflow:hidden;
  margin:8px;
  padding:8px;
  text-align:center;
}

#garden li.app h3 {
  padding:0;
  margin:0;
  font-size:1em;
}

#garden li.app h4 {
  font-size:0.7em;
  color:#555;
  text-align:left;
}

div.icon {
  margin-top:8px;
  max-height:150px;
  overflow:hidden;
}

.icon img {
  width:150px;
}

a.info {
  float:right;
  font-size:0.5em;
}

#info {
  width:50%;
  border:4px solid #55b;
  margin:8px;
  padding:8px;
  float:left;
}

div.screen {
  float:left;
  height:300px;
  margin-right:8px;
}

div.screen img {
  width:300px;
}


.clear {
  clear:left;
}