/* add styles here */

body {
  font:1.6em Helvetica, sans-serif;
  padding:4px;
}

ul {
  list-style-type: none;
  margin:0; padding:0;
}

ul#garden li.app {
  border:4px solid #55b;
/*  float:left;*/
  margin:8px;
  padding:8px;
}

ul#garden li.app h3 {
  border:0;
  margin:0;
}

div.icon {
  float:left;
  height:100px;
  margin-right:8px;
}

.icon img {
  width:100px;
}

.clear {
  clear:left;
}